# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('chipotle.csv')

In [3]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

### Step 4. How many products cost more than $10.00?

In [4]:
chipo['item_price'] = chipo['item_price'].str.strip('$')
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
         ...
4592    11.75
4593    11.75
4594    11.75
4595     8.75
4596     4.45
4597     1.25
4598     1.50
4599     8.75
4600     4.45
4601     1.25
4602     9.25
4603     9.25
4604     8.75
4605     4.45
4606     1.25
4607    11.75
4608    11.25
4609     1.25
4610    11.75
4611    11.25
4612     9.25
4613     2.15
4614     1.50
4615     8.75
4616     4.45
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: object

In [5]:
chipo['item_price'] = chipo['item_price'].astype(float)
chipo['item_price']

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
5       10.98
6        1.69
7       11.75
8        9.25
9        9.25
10       4.45
11       8.75
12       8.75
13      11.25
14       4.45
15       2.39
16       8.49
17       8.49
18       2.18
19       8.75
20       4.45
21       8.99
22       3.39
23      10.98
24       3.39
25       2.39
26       8.49
27       8.99
28       1.09
29       8.49
        ...
4592    11.75
4593    11.75
4594    11.75
4595     8.75
4596     4.45
4597     1.25
4598     1.50
4599     8.75
4600     4.45
4601     1.25
4602     9.25
4603     9.25
4604     8.75
4605     4.45
4606     1.25
4607    11.75
4608    11.25
4609     1.25
4610    11.75
4611    11.25
4612     9.25
4613     2.15
4614     1.50
4615     8.75
4616     4.45
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

In [41]:
above_ten_dollar = chipo[chipo['item_price'] > 10]

In [48]:
above_ten_dollar.nunique()

order_id              863
quantity                8
item_name              31
choice_description    492
item_price             35
dtype: int64

In [35]:
new_data = chipo[chipo['quantity']==1]

In [36]:
new_data['quantity'].shape

(4355,)

In [44]:
new_data['item_name'][new_data['item_price']>10].nunique()

25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [50]:
new_data[['item_name','item_price']].drop_duplicates()

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
5                              Chicken Bowl       10.98
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
9                             Steak Burrito        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
13                             Chicken Bowl       11.25
16                          Chicken Burrito        8.49
19                             Chicken Bowl        8.75
21                         Barbacoa Burrito        8.99
23                          Chicken Burrito       10.98
26                             Chicken Bowl        8.49
27                         Carnitas Burrito        8.99
28                              Canned Soda        1.09
31                            Steak Burrito        8.99
33                            Carnitas Bowl        8.99
34                            Bottled Water        1.09
38    Chips and Tomatillo Green Chili Salsa        2.95
39                            Barbacoa Bowl       11.75
40                                    Chips        2.15
44                       Chicken Salad Bowl        8.75
49                      Chips and Guacamole        3.99
54                               Steak Bowl        8.99
56                      Barbacoa Soft Tacos        9.25
...                                     ...         ...
1189                     Chicken Salad Bowl       11.25
1195                  Carnitas Crispy Tacos        8.99
1229                    Barbacoa Salad Bowl       11.89
1353                       Steak Soft Tacos       11.75
1395                      Veggie Soft Tacos        8.49
1414                                  Salad        7.40
1418                    Barbacoa Salad Bowl        9.39
1648                       Barbacoa Burrito       11.08
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
1721                       Steak Soft Tacos       11.48
1863                            Veggie Bowl       10.98
1865                    Carnitas Salad Bowl        9.39
1963                    Carnitas Soft Tacos       11.75
2231                     Steak Crispy Tacos       11.75
2884                       Carnitas Burrito       11.08
2918                           Chicken Bowl        8.19
2919                           Chicken Bowl       10.58
2968                          Chicken Salad        8.49
3156                       Barbacoa Burrito        8.69
3184                    Barbacoa Soft Tacos       11.48
3195                          Barbacoa Bowl        8.69
3252                       Carnitas Burrito        8.69
3276                       Barbacoa Burrito       11.48
3502                            Steak Salad        8.69
3750                         Carnitas Salad        8.99
3989                          Chicken Salad        8.19
4235                           Chicken Bowl        8.50
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[135 rows x 2 columns]

### Step 6. Sort by the name of the item

In [51]:
new_data.sort_values('item_name',ascending=True)

,order_id,quantity,item_name,choice_description,item_price
1392,566,1,6 Pack Soft Drink,[Diet Coke],6.49
1260,511,1,6 Pack Soft Drink,[Coke],6.49
3766,1508,1,6 Pack Soft Drink,[Coke],6.49
1279,520,1,6 Pack Soft Drink,[Sprite],6.49
3693,1480,1,6 Pack Soft Drink,[Diet Coke],6.49
3633,1454,1,6 Pack Soft Drink,[Coke],6.49
3614,1448,1,6 Pack Soft Drink,[Nestea],6.49
3600,1443,1,6 Pack Soft Drink,[Coke],6.49
4522,1798,1,6 Pack Soft Drink,[Diet Coke],6.49
1755,708,1,6 Pack Soft Drink,[Coke],6.49
3789,1517,1,6 Pack Soft Drink,[Diet Coke],6.49
1758,709,1,6 Pack Soft Drink,[Diet Coke],6.49
3422,1373,1,6 Pack Soft Drink,[Coke],6.49
4535,1803,1,6 Pack Soft Drink,[Lemonade],6.49
3010,1196,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
1916,774,1,6 Pack Soft Drink,[Diet Coke],6.49
1922,776,1,6 Pack Soft Drink,[Coke],6.49
1937,784,1,6 Pack Soft Drink,[Diet Coke],6.49
1976,798,1,6 Pack Soft Drink,[Diet Coke],6.49
4527,1800,1,6 Pack Soft Drink,[Diet Coke],6.49
2793,1109,1,6 Pack Soft Drink,[Diet Coke],6.49
3806,1525,1,6 Pack Soft Drink,[Sprite],6.49
3836,1537,1,6 Pack Soft Drink,[Coke],6.49
4359,1741,1,6 Pack Soft Drink,[Coke],6.49
417,182,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
4363,1742,1,6 Pack Soft Drink,[Diet Coke],6.49
553,230,1,6 Pack Soft Drink,[Diet Coke],6.49
...,...,...,...,...,...
2756,1094,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.49
3471,1395,1,Veggie Salad,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.49
4084,1635,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
2996,1192,1,Veggie Salad,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
3163,1263,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
1694,686,1,Veggie Salad,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.49
3223,1289,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
2156,869,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
4541,1805,1,Veggie Salad Bowl,"[Tomatillo Green Chili Salsa, [Fajita Vegetabl...",8.75
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4573,1818,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",11.25
2223,896,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, Fajita Vegetables]",8.75
4201,1677,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.25
2269,913,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
1316,536,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",8.75
4109,1646,1,Veggie Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1884,760,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
2683,1066,1,Veggie Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
3293,1321,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75
4261,1700,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
738,304,1,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25

### Step 7. What was the quantity of the most expensive item ordered?

In [52]:
highest_price = chipo['item_price'].max()

In [53]:
highest_price

44.25

In [55]:
chipo[chipo['item_price']==highest_price]

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [56]:
chipo[chipo['item_name']=='Veggie Salad Bowl'].count()

order_id              18
quantity              18
item_name             18
choice_description    18
item_price            18
dtype: int64

### Step 9. How many times people orderd more than one Canned Soda?

In [57]:
chipo['order_id'][(chipo['item_name']=='Canned Soda')& (chipo['quantity']>1)].count()

20