####  import nessecessary library

In [1]:
import pandas as pd

####  Read  the dataset and show

In [2]:
data = pd.read_csv('athlete_events.csv')

In [3]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

#### What is the number of rows and columns?

In [4]:
data.shape

(271116, 15)

#### Select the unique columns from the dataset with sorted order.

In [5]:
data.columns.sort_values(ascending=True)

Index(['Age', 'City', 'Event', 'Games', 'Height', 'ID', 'Medal', 'NOC', 'Name',
       'Season', 'Sex', 'Sport', 'Team', 'Weight', 'Year'],
      dtype='object')

#### What is the mean height and age of male participants in 2010 olympics?

In [6]:
data[(data['Sex']=='M') & (data['Year']==2010)]['Height'].mean()

180.4328241284763

In [7]:
data[(data['Sex']=='M') & (data['Year']==2010)]['Age'].mean()

26.71976516634051

#### What was the percentage of male gymnasts among all the male particpants of the 2000 olympics?

In [8]:
data[(data['Sport']=='Gymnastics')&(data['Sex']=='M')&(data['Year']==2000)].count()/ data[(data['Year']==2000)&(data['Sex']=='M')].count()

ID        0.076520
Name      0.076520
Sex       0.076520
Age       0.076520
Height    0.077256
Weight    0.077275
Team      0.076520
NOC       0.076520
Games     0.076520
Year      0.076520
Season    0.076520
City      0.076520
Sport     0.076520
Event     0.076520
Medal     0.034698
dtype: float64

#### Find a sportsperson participated in 2002 olympics, with the highest weight among other participants of the same olympics. What sport did he or she do?

In [9]:
max_weight = data[(data['Year']==2002)& (data['Sport'])]['Weight'].max()

In [10]:
max_weight

123.0

In [11]:
data.loc[(data.Year==2002)&(data.Weight==max_weight)].Sport

99154    Bobsleigh
Name: Sport, dtype: object

#### Is it true that Switzerland won fewer medals than Serbia at the 2016 Olympics? (If yes, how many Gold, Silver and Bronze medals).

In [12]:
data.loc[(data.Team=='Switzerland')&(data['Year']==2016)].Medal.count()

11

In [13]:
data.loc[(data.Team=='Serbia')&(data['Year']==2016)].Medal.count()

54

####  Count the Gold , Silver and Bronze Medals

#### What is the absolute difference between the number of unique sports at the 1995 Olympics and 2016 Olympics?

In [14]:
data[data.Year==2016].groupby(by = ['Year','Season'])['Sport'].nunique()

Year  Season
2016  Summer    34
Name: Sport, dtype: int64

In [15]:
data[data.Year==1995].groupby(by = ['Year','Season'])['Sport'].nunique()

Series([], Name: Sport, dtype: int64)

#### Is it true that there were Summer Olympics held in Lake Placid? *

In [16]:
(data.loc[(data.City=='Lake Placid'),['City','Year','Season']].drop_duplicates())

             City  Year  Season
30    Lake Placid  1980  Winter
1326  Lake Placid  1932  Winter